@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-white font-sans antialiased selection:bg-accent/30 selection:text-white;
  }
}

@layer components {
  .glass-panel {
    @apply bg-card backdrop-blur-xl border border-white/10 rounded-2xl shadow-2xl transition-all duration-300;
  }
}